<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiquinn.dao.AroiseChatMessageRequestMapper" >
  <resultMap id="BaseResultMap" type="com.qiquinn.model.AroiseChatMessageRequest" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="chat_send_user_id" property="chatSendUserId" jdbcType="INTEGER" />
    <result column="chat_accept_user_id" property="chatAcceptUserId" jdbcType="INTEGER" />
    <result column="chat_request_time" property="chatRequestTime" jdbcType="VARCHAR" />
  </resultMap>
</mapper>